<style type="text/css">
    .reminder{ text-align: center;}
    .reminder>i{ font-size: 1.5rem;}
</style>
<div class="reminder" id="<%=_data.emptyId||""%>" style="padding-bottom:<%=_data.paddingbottom||0%>rem;margin-top: <%=price||0%>rem;display: <%=display||block%>;">
    <i class="iconfont color-gray9"><%=icon%></i>
    <h5 class="m-top40 color-gray9"><%=tip%></h5>
</div>