<style>
    body{ padding-bottom: .9rem!important;}
    .navbar2{background-image: none;border-bottom: 1px solid #e5e5e5;}
    img{width: 100%;}
    .activity{box-sizing: border-box; padding: .2rem; padding-left: 1.2rem;  position: relative;background-color: #fff; border-bottom: 1px solid #e5e5e5;padding-right: .8rem;}
    .activity >a{ border-bottom: 1px solid #e5e5e5; display: block; padding-bottom: .2rem; padding-left: .8rem; box-sizing: border-box}
    .activity .hd>i{position: absolute; right: .2rem;top: .35rem;}
    .activity >div.hd>a .pic{position: absolute; left: .2rem; top: .2rem; border-radius: 50%; width: .7rem; height: .7rem; display: block; overflow: hidden; background-color: #f0f0f0;}
    .activity >div.hd h6{font-size: .24rem;}
    .activity-con{ padding: .2rem; box-sizing: border-box; background-color: #fff;}
    .activity-con .tit>ul>li{ color: #999; position: relative; line-height: .4rem; min-height: .4rem; padding-left: 1.2rem; box-sizing: border-box;}
    .activity-con .tit>ul>li>span:first-child{ position: absolute; left: 0; top: 0;}
    .footers{height:.9rem; padding:.1rem 0; border-top:1px solid #e5e5e5;    box-sizing: border-box;}
    .footers>a{width:33.33%; float:left; text-align:center; border-left:1px solid #e5e5e5; box-sizing:border-box;}
    .footers>a:first-child{border-left:0;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">活动详情</span>
</header>
<div class=" content">
    <div class="activity">
        <div class="hd">
            <a href="#shop/shops?shopId=<%=_datas.shopId%>">
                <div class="pic">
                    <img src="<%=Config.imgPre + _datas.shopAvatar%>"/>
                </div>
                <h6 class="ellips1"><%=_datas.shopName%></h6>
                <p class="color-gray9 m-top5 ellips1"><%=_datas.shopAddress%></p>
            </a>
            <i class="iconfont icon-info color-orange" onclick="GO('message/chitchat',{shopId:<%=_datas.shopId%>})">&#xe601; </i>
        </div>
    </div>
    <div class="activity-con">
        <div class="tit">
            <h5><%=_datas.title%></h5>
            <ul>
                <li>
                    <span>活动时间:</span>
                    <%=_datas.beginDate%>-<%=_datas.endDate%>
                </li>
                <li>
                    <span>活动地点:</span>
                    <span><%=_datas.address%></span>
                </li>
                <li>
                    <span>咨询电话:</span>
                    <a href="tel:<%=_datas.shopPhone%>"><%=_datas.shopPhone%><i class="iconfont color-orange">&#xe61b;</i></a>
                </li>
            </ul>
        </div>
        <div class="con-txt">
        	<%if(_datas.description){%>
            	<p class="m-top10 color-gray6"><%=_datas.description%></p>
            <%}%>
            <%if(_datas.activityImageList != null && _datas.activityImageList.length > 0){%>
            	<%for(var i = 0;i<_datas.activityImageList.length;i++){%>
	            	<img class="m-top10" src="<%=Config.imgPre + _datas.activityImageList[i].src%>"/>
            	<%}%>
            <%}%>
        </div>
        
    </div>
</div>
<div class="m-top20 footers coversbottom bg-white">
	<a href="javascript:;">
		<i class="iconfont">&#xe69d;</i>
		<p>浏览量（<%=_datas.activityViewCount%>）</p>
	</a>
	<a href="javascript:;">
		<i class="iconfont" id="praise">&#xe607;</i>
		<p>赞（<span><%=_datas.activityPraiseCount%></span>）</p>
	</a>
	<a href="javascript:;" onclick="GO('activity/comment',{activityId:<%=_datas.activityId%>})">
		<i class="iconfont">&#xe698;</i>
		<p>评论（<%=_datas.activityEvluationCount%>）</p>
	</a>

</div>












