<style type="text/css">
    .navbar .nav-header{ color: #333;}
    #edit{ position: absolute;right: 1rem;top: .3rem;color: #666;}
    .content .list .hd{ position: relative;}
    .content .list .hd>h5{ height: .66rem; line-height: .36rem; padding: .15rem; box-sizing: border-box; color: #666;}
    .content .list .hd>i{ position: absolute; color: #999;    left: -5rem; top: .15rem;}
    .content .list>ul>li{ position: relative;}
    .content .list>ul>li>a{display: block; position: relative; padding-left: 2.3rem; box-sizing: border-box;}
    .content .list>ul>li>a .pic{ position: absolute; width:2.1rem; height: 1.5rem; left: .1rem; top: .1rem; border-radius: 5px; overflow: hidden;}
    .content .list>ul>li>i{ position: absolute;  left: .2rem;top: .2rem; color: #999; z-index: 2;}
    .content .list>ul>li>a .pic>img{ width: 100%;}
    .content .list>ul>li>a .txt{ border-bottom: 1px solid #e5e5e5; padding-top: .1rem; min-height: 1.65rem;}
    .content .list>ul>li>a .txt .ellips{ line-height: .35rem;}
    .content .list>ul>li>a .txt>p>span.kdl-right{ border: 1px solid #e5e5e5; color: #999; font-size: .22rem;  padding: 2px 5px; border-radius: 3px; cursor: pointer; z-index: 2; position: relative;}
    .reminder{ text-align: center; color: #333; margin-top: .2rem;}
    .content .list>ul>li>i{ display: none;}
    .footer-print{display: none; border-top: 1px solid #e5e5e5;z-index: 5; background-color: #fff; color: #666; height: 1rem; line-height: 1rem; padding-left: .2rem; box-sizing: border-box; position: fixed; bottom: 0; width: 100%; min-width: 320px; max-width: 640px;}
    .footer-print button{width: 2rem; float: right; color: #fff; background-color: #F72B2E; text-align: center; border: 0; height: 1rem; line-height: 1rem; font-size: .36rem;}
    .footer-print>s{ text-decoration:none; margin: 0 .05rem;}
    .content .list i.cur{ color: #df494b!important;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">浏览足迹</span>
    <span id="edit">编辑</span>
    <div class="nav-wrap-right">
        <a href="javascript:;" class=" color-gray3">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe636; </i>
            </span>
            <s></s>
        </a>
    </div>
    <div class="nav-dropdown">
        <span class="triangle-up"></span>
        <ul>
            <li>
                <a class="react" href="/">
                    <i class="iconfont">&#xe602;</i>
                    <space></space>首页
                </a>
            </li>
            <li>
                <a class="react" href="javascript:;">
                    <i class="iconfont">&#xe601;</i>
                    <space></space>消息
                    <em class="information">8+<s class="triangle-up"></s></em>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class=" content">
    <div class="list">
    	<%if(_datas.goodsMaps && _datas.goodsMaps.length>0){%>
        <ul class="bg-white">
        	<%for(var i=_datas.goodsMaps.length-1;i>=0;i--){%>
				<li>
                    <i class="iconfont" index="<%=_datas.goodsMaps[i].skuId%>_<%=_datas.goodsMaps[i].shopId%>">&#xe63d;</i>
	                <%if(_datas.goodsMaps[i].shopType=="sKeeper"){%>
						<a href="#goods/details?goodsId=<%=_datas.goodsMaps[i].goodsId%>&shopId=<%=_datas.goodsMaps[i].shopId%>">
					<%}else{%>
                		<a href="#goods/details?goodsId=<%=_datas.goodsMaps[i].goodsId%>">
					<%}%>
	                    <div class="pic">
	                        <img src="<%=Config.imgPre+_datas.goodsMaps[i].image%>"/>
	                    </div>
	                    <div class="txt">
	                        <h6 class="ellips"><%=_datas.goodsMaps[i].goodsName%></h6>
	                        <h5 class="m-top10 color-red">￥<%=_datas.goodsMaps[i].price.toFixed(2)%></h5>
	                        <%if(_datas.goodsMaps[i].consumeTips){%>
	                        	<p class="m-top5 clearfix">返现 <span class="color-gray3">￥<%=_datas.goodsMaps[i].consumeTips.toFixed(2)%></span></p>
	                        <%}%>
	                    </div>
	                </a>
	            </li>        		
        	<%}%>
        </ul>
        <%}else{%>
        	<%=REND("include/empty",{icon:"&#xe62b;",tip:"sorry，您还没有足迹哦~",price:"2",display:"block"})%>
    	<%}%>
    </div>
</div>
<div class="footer-print">
    已选择<s class="color-red">0</s>件商品
    <button>删除</button>
</div>














