<style type="text/css">
    body{ padding-bottom: 1.9rem!important;}
    .content>div.hd{padding: .15rem .5rem .25rem .2rem; color: #666; box-sizing: border-box; position: relative; min-height: 1.2rem; width: 100%; background:#fff url("./img/color_line@2x.png") repeat-x bottom;background-size: contain;}
    .content>div.hd>i{ position: absolute; left: .2rem; color: #999; top:.4rem; font-size: .36rem;}
    .more:after{ right: .2rem;}
    /*在线支付*/
    .content .payment{ height: .8rem; line-height: .8rem; font-size: .26rem; padding: 0 .2rem; box-sizing: border-box;}
    /*商品列表*/
    .con-list>div.hd{ height: .8rem; line-height: .4rem; padding: .2rem; box-sizing: border-box;}
    .con-list>div.hd>a{ font-size: .26rem;}
    .con-list>div.hd>a>span{ width: .4rem; height: .4rem; display: inline-block;}
    .con-list>div.hd>a>span>img{ width: 100%;}
    .con-list{ margin-top: .1rem;}
    .con-list>ul>li{ padding: .2rem; min-height: 1.45rem; border-bottom: 1px solid #e5e5e5;}
    .con-list>ul>li:last-child{ border-bottom: 0;}
    .con-list>ul>li>a{ display: block; position: relative; padding:0 1.1rem 0 1.7rem; box-sizing: border-box; }
    .con-list>ul>li>a>div.pic{ width: 1.5rem; height:1.4rem; border-radius: 3px; overflow: hidden; position: absolute;left: 0; top: 0;}
    .con-list>ul>li>a>div.pic>img{width: 100%; height:100%;}
    .con-list>ul>li>a>div.jiage{ position: absolute; right: 0; top: 0; text-align: right;}
    .con-list>div.bd>ul{background: #fff;}
    .con-list>div.bd>ul>li{ position: relative; height: .8rem; line-height: .8rem; color: #666; border-bottom: 1px solid #e5e5e5; padding: 0 .2rem; box-sizing: border-box;}
    .con-list>div.bd>ul>li:last-child{ border-bottom: 0;}
    .con-list>div.bd>ul>li.more{ padding-right: .6rem; box-sizing: border-box;}
    .con-list>div.bd>ul>li>a{ display: block;}
    .con-list>div.bd>ul>li>span>button{ padding: .03rem .25rem; border: 1px solid #e5e5e5; background-color: transparent;}
    .con-list>div.bd>ul>li>span>button.cur{border: 1px solid #cc3333; color: #cc3333;}
    .con-list>div.bd>ul>li.bei{ padding: .2rem; box-sizing: border-box; height: 1.23rem; position: relative; padding-left: 1rem; }
    .con-list>div.bd>ul>li.bei>span{ position: absolute; left: .2rem; top: 0; display: inline-block;}
    .con-list>div.bd>ul>li.bei>textarea{ font-size: .24rem; width: 100%; padding:0 .15rem; box-sizing: border-box; line-height: .4rem; height: .8rem;border: 1px solid #e5e5e5; font-size: .24rem; color: #666;}
    /*footer*/
    .footer{ position: fixed; min-width: 320px;max-width: 640px; width: 100%; background: #fff; bottom: 0;}
    .footer>div{ height: .8rem; line-height: .8rem;border-bottom: 1px solid #e5e5e5; position: relative;}
    .footer>div.money{ padding: 0 .2rem; box-sizing: border-box; color: #666;}
    .footer>div.money>i{ margin-right: .1rem;}
    .footer>div:last-child{ height: 1rem; line-height: 1rem;  position: relative; padding-right: 2rem; box-sizing: border-box;}
    .footer>div:last-child>button{border: 0; display: block;  position: absolute; right: 0; top: 0; height: 1rem; width: 2rem; font-size: .3rem;}
    .footer>div:last-child>span{ margin-right: .2rem; font-size: .26rem; width: auto !important;}
    /*优惠券*/
    .ticket{display: none; position: fixed; bottom: 0;  width: 100%; min-width: 320px;max-width: 640px; z-index: 22;}
    .ticket ul{background-color: #fff;}
    .ticket ul>li{height: .8rem; line-height: .8rem; border-bottom: 1px solid #e5e5e5; padding:0 .2rem; box-sizing: border-box;}
    .ticket ul>li>a>i{float: right; display: none;}
    .ticket ul>li.cur>a>i{display: block;}
    .ticket ul>li:last-child{border-bottom: 0;}
    .ticket ul>li>a{ display: block;}
    .ticket>button{ height: .8rem; line-height: .8rem; text-align: center;  font-size: .28rem; display: block; width: 100%; min-width: 320px;max-width: 640px; border: 0;}
    /*支付密码*/
    .pwdpollue{display:none; text-align:center; border-radius:5px;    box-shadow: 0 0 5px 2px #666; z-index:9; background-color:#fff; width:5rem; height:2.6rem; position:fixed; top:50%; left:50%; margin-left:-2.5rem; margin-top:-1.3rem; padding:.2rem; box-sizing:border-box;}
    .pwdpollue>input{ width:100%; padding:.1rem; border:1px solid #e5e5e5; font-size:.24rem; height:.6rem; line-height:.4rem; box-sizing:border-box;}
    .pwdpollue>button{padding:.05rem .2rem; border:0; border-radius:3px; text-align:center;}
    .pwdpollue>span{display:inline-block; right:.2rem; top:.2rem;position:absolute;}
    .overflow-li{max-height: 3.7rem;overflow:auto;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">确认订单</span>
</header>
<form id="orderForm" onkeydown="if(event.keyCode==13)return false;">
	<input type="hidden" name="isUseBalance" id="useBalance" value="false" />
	<input type="hidden" value="<%=_datas.data.skuId%>" name="skuId"/>
	<input type="hidden" value="<%=_datas.data.quantity%>" name="quantity"/>
	<input type="hidden" value="<%=_datas.data.shopId%>" name="shopId"/>
	<input type="hidden" value="<%=_datas.data.speConId%>" name="speConId"/>
	<div class="content">
	    <div class="hd">
	        <p>买家昵称：<%=_datas.data.userNickName%></p>
	        <p>手机号：<%=_datas.data.mobilePhone%></p>
	    </div>
	    <!--在线支付-->
	    <div class="m-top10 color-gray6 bg-white  payment">
	        支付方式：在线支付
	    </div>
	    <!--商品列表-->
	    <div class="con-list">
	        <div class="hd bg-white"  onclick="this.ctrl.toShop(<%=_datas.data.shopId%>);">
	            <a href="javascript:;">
	                <span>
	                    <img src="<%=Config.imgPre+_datas.data.shopAvatar%>"/>
	                </span>
	               <%=_datas.data.shopName%> >
	            </a>
	        </div>
	        <ul>
	            <li onclick="this.ctrl.toGoodsDetails(<%=_datas.data.goodsId%>,<%=_datas.data.goodsShopId%>,<%if(_datas.data.speConId==null){%>null<%}else{%><%=_datas.data.speConId%><%}%>)">
	                <a href="javascript:void(0);">
	                    <div class="pic">
	                        <img src="<%=Config.imgPre+_datas.data.image%>"/>
	                    </div>
	                    <div class="txt">
	                        <h6 class="color-gray6 ellips1"><%=_datas.data.name%></h6>
	                        <p class="color-gray9"><%=_datas.data.skuValue%></p>
	                    </div>
	                    <div class="jiage">
	                        <span class="color-gray3">￥<%=_datas.data.price%></span>
	                        <p class="color-gray6">x<%=_datas.data.quantity%></p>
	                    </div>
	                </a>
	            </li>
	        </ul>
	        <div class="bd">
	            <ul>
	            	<%if(_datas.data.randomCardUsers != null && _datas.data.randomCardUsers.length >0){%>
		                <li class="more favorable" onclick="this.ctrl.openRandoms();">
		                    <a href="javascript:;">
		                        <span>优惠券（满<%=_datas.data.randomCardUsers[0].minPrice.toFixed(2)%>&nbsp;&nbsp;减<%=_datas.data.randomCardUsers[0].money.toFixed(2)%>）</span>
		                        <span class="kdl-right">已使用</span>
		                    </a>
		                </li>
		           	<%}else{%>
		           		<!--
			           		<li class="more favorable">
			                    <a href="javascript:;">
			                        <span>优惠券（0张可用）</span>
			                        <span class="kdl-right">未使用</span>
			                    </a>
			                </li>
		                -->
		            <%}%>
	                <li>
	                    <span>配送：
	                        <button class="cur" type="button">自提</button>
	                    </span>
			        </li>
	                <li class="bei">
	                    <span> 备注：</span>
	                    <textarea placeholder="给商家留言(50字以内)" name="memo" maxLength="50"></textarea>
	                </li>
	                <li>
	                    合计：<cite class="color-red">￥<span id="curTotal"><%=_datas.data.subtotal.toFixed(2)%></span></cite>
	                </li>
	            </ul>
	        </div>
	        <%if(_datas.data.randomCardUsers != null && _datas.data.randomCardUsers.length >0){%>
				<div class="ticket">
					<input type="hidden" value="优惠券（<%=_datas.data.randomCardUsers.length%>张可用)"/>
				    <ul>
				        <li>
				            <a href="javascript:;">
				               	 优惠券
				                <i class="iconfont color-red">&#xe653;</i>
				            </a>
				        </li>
				        <ul class="overflow-li">
				        <%$.each(_datas.data.randomCardUsers,function(k,randomCard){ %>
					        <li <%if(k==0){%>class="cur"<%}%>>
					            <a href="javascript:;">
					        		嗖券：满<%=randomCard.minPrice.toFixed(2)%>&nbsp;&nbsp;立减<%=randomCard.money.toFixed(2)%>
					                <i class="iconfont color-red">&#xe653;</i>
					            </a>
					            <input type="hidden" value="<%=randomCard.id%>">
					            <input type="hidden" value="优惠券（满<%=randomCard.minPrice.toFixed(2)%>  减<%=randomCard.money.toFixed(2)%>)">
					        </li>
				        <%});%>
				        </ul>
				        <li>
				            <a href="javascript:;">
				                	不使用优惠券
				                <i class="iconfont color-red">&#xe653;</i>
				            </a>
				            <input type="hidden" value="">
				        </li>
				        <input type="hidden" name="randomCardUserId" value="<%=_datas.data.randomCardUsers[0].id%>">
				    </ul>
				    <button class="bg-red color-white" type="button">确定</button>
				</div>
			<%}%>
	    </div>
	</div>
	<div class="footer">
	   <%if(_datas.data.purse != null && _datas.data.purse > 0){%>
			<div class="money"   id="useBalanceBtn">
		        <i class="iconfont">&#xe632;</i>
		        	使用余额（账号当前余额为：<%=_datas.data.purse.toFixed(2)%>元）
		    </div>
	   <%}%>
	   <div class="color-gray6">
	       <span class="kdl-right">实付款：<cite class="color-red">￥<span id="curPayAmount"><%=_datas.data.pAmount.toFixed(2)%></span></cite></span>
	       <button class="color-white bg-red" type="button" id="submitOrderBtn">提交订单</button>

	   </div>
	</div>
	<div class="theme-popover-mask"></div>
	<div class="theme-popover-mask"></div>
	<div class="pwdpollue" style="display: none;">
	    <h5>请输入支付密码</h5>
	    <span id="colsePassword" class="iconfont color-red"></span>
	    <input type="password" placeholder="请输入6位数密码" class="m-top20" maxlength="6" id="payPassword" onkeyup="inputValidate.onlyInteger(this)"  onblur="inputValidate.onlyInteger(this)">
	    <input type="hidden"  name="payPassword" value="" id="md5PayPassword">
	    <p class="color-red m-top10 clearfix" style="text-align: right; font-size:.22rem;"><span class="kdl-left" id="payError"></span><span id="findPayPassword" class="kdl-right">忘记密码？</span></p>
	    <button class="m-top20 bg-red color-white" type="button">确定</button>
	</div>
</form>


