<style>
	.content{padding-top:1.7rem;}
    body{ padding-bottom: 0;}
    .navbar2 .box-search input{ font-size: .24rem; text-indent: .2rem; width: 100%; height: .5rem; line-height: .5rem; border: 0; border-radius: 5px; background-color: #f0f0f0;}
    .navbar2 .nav-wrap-right>a>span{ color: #999; width: .7rem;top: 0; background-color: #f0f0f0; height: .5rem; line-height: .5rem;border-radius: 3px;}
    .sifting,.Sort,.city{position:relative; z-index:2;}
    .sifting{ border-top: 1px solid #e5e5e5; box-sizing: border-box; width: 100%; min-width: 320px; max-width: 640px; z-index: 5; top: .9rem; position:fixed; border-bottom: 1px solid #e5e5e5;}
    .sifting>ul>li{float:left; width:33.33%; padding: .2rem 0; height:.4rem; line-height:.4rem; margin-left: -1px;}
    .sifting>ul>li>a{position:relative;display:block; text-align:center; border-left: 1px solid #e5e5e5; box-sizing: border-box;}
    .sifting>ul>li.cur>a{ color:#df494a;}
    .sifting>ul>li.cur>a>i{    border-top-color: #DF494A;}
    .sifting>ul>li>a>i{ transform: rotate(180deg); position:relative; border-width: 5px;right: initial; margin-left:.1rem; top: 0.2rem; border-bottom-color: transparent;   border-top-color: #3d3d3d;}
    .siftingbox{position: fixed;background-color: #fff;z-index: 3; width: 100%; min-width: 320px; max-width: 640px;}
    .siftingbox ul>li{ height:.8rem; line-height:.8rem; border-top:1px solid #e5e5e5; padding:0 .2rem; box-sizing:border-box;}
    .siftingbox ul>li>a>i{ color:#fff;}
    .siftingbox ul>li.cur a{ color:#df494a;}
    .siftingbox ul>li.cur a>i{ color:#df494a;}
    .siftingbox ul>li>a{display:block;}
    .con-list{background-color: #fff; padding-top: .1rem;}
    .con-list>ul>li{min-height: 2.4rem;}
    .con-list>ul>li>a{display:block; position: relative; padding:.1rem 0 .1rem 2.5rem;  box-sizing: border-box;}
    .con-list>ul>li>a .pic{width:2.3rem; position: absolute; left: .1rem; top: 0;}
    .con-list>ul>li>a>div.pic>img{width:100%;}
    .con-list>ul>li>a .txt{ padding:0 .15rem;  box-sizing:border-box; border-bottom: 1px solid #e5e5e5;}
    .con-list>ul>li>a .txt>h6{ line-height: .4rem;}
    .con-list>ul>li>a .pic .bt{ position: absolute; bottom: 0; width: 100%; height: .6rem; line-height: .6rem;}
    .con-list>ul>li>a .pic .bt>div{ width: 100%; display: block; background-color: #000; opacity: 0.5; height: .6rem;}
    .con-list>ul>li>a .pic .bt>p{ display: block; color: #fff;height: .6rem; text-align: center; position: absolute;top: 0;z-index: 2; width: 100%;}
    .con-list>ul>li>a .txt>h5>button{ border: 1px solid #cc3333; color: #cc3333; font-size: .24rem; border-radius: 3px; margin-left: .2rem; background: transparent; padding: 0 2px;}
    #classify{ position: relative; background-color: #fff;}
    #classify>ul:first-child{ width: 30%; float: left;height: 100%;overflow-y: scroll;}
    #classify>ul:first-child>li>a{text-align: center; display: block;}
    #classify>ul>li.cur{ background-color: #f0f0f0;}
    #classify>ul>li.cur>a{ color: #df494b;}
    #classify>ul:last-child{ background-color: #f0f0f0; float: left; width: 70%; height: 100%; overflow-y: scroll;}
    #classify>ul:last-child>li{ border-left: 1px solid #e5e5e5; box-sizing: border-box;}
    #classify>ul>li:last-child{ border-bottom: 1px solid #e5e5e5;}
    /*店铺列表*/
    .Shop-list{background-color: #fff; padding-top: .2rem;}
    .Shop-list>ul>li{min-height: 2rem; border-bottom: 1px solid #e5e5e5; margin-bottom: .1rem;}
    .Shop-list>ul>li>a{display:block; position: relative; padding:.1rem 0 .1rem 2.1rem;  box-sizing: border-box;}
    .Shop-list>ul>li>a .pic{width:2rem; position: absolute; left: .1rem; top: 0; height:2.1rem; background:url("./img/list-ptobg.jpg") no-repeat; background-size:contain;}
    .Shop-list>ul>li>a>div.pic>img{width:100%;}
    .Shop-list>ul>li>a .txt{ padding: 0 .2rem; box-sizing: border-box;}
    .Shop-list>ul>li>a .txt>h6{ line-height: .4rem;}
    .Shop-list>ul>div.pic>img{ width: 100%;}
    /*评星*/
    .starbg{ height: .5rem;  position: relative;width: 100%; padding: .12rem 0; box-sizing: border-box;}
	.starbg>img{height:100%;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <div class="box-search" style="margin-left: 1rem;">
        <a href="javascript:;" class=" color-gray3">
            <input id="searchValue" class="single-line" type="text" placeholder="请输入商品名称" value="<%=_param.keyword%>"/>
        </a>
    </div>
    <div class="nav-wrap-right" onclick="this.ctrl.toSearch()">
        <a href="javascript:;">
            <span class="nav-btn iconfont">
                &#xe603;
            </span>
        </a>
    </div>
</header>
<div class="theme-popover-mask"></div>
<div class=" content">
    <!--筛选菜单-->
    <div class="sifting bg-white clearfix">
        <ul class="clearfix" id="screen">
            <li class="cur">
                <a href="javascript:;">分类▾</a>
            </li>
            <li>
                <a href="javascript:;"><span id="ordersName">综合排序</span>▾</a>
            </li>
            <li>
                <a href="javascript:;" id="cityName">全城▾</a>
            </li>
        </ul>
    </div>
    <div class="siftingbox">
        <div id="classify" class="clearfix cateBox" style="display: none;">
            <ul id="categoryContent"></ul>
            <ul id="industContent"></ul>
        </div>
        <div class="Sort bg-white" style="display: none;">
            <ul>
                <li>
                    <a href="javascript:;" onclick="this.ctrl.toSearchByOrder(this,'')"><span>综合排序</span> <i class="kdl-right iconfont">&#xe653;</i></a>
                </li>
                <li>
                    <a href="javascript:;" onclick="this.ctrl.toSearchByOrder(this,'distance')"><span>距离最近</span> <i class="kdl-right iconfont">&#xe653;</i></a>
                </li>
                <li>
                    <a href="javascript:;" onclick="this.ctrl.toSearchByOrder(this,'score')"><span>好评最高</span> <i class="kdl-right iconfont">&#xe653;</i></a>
                </li>
            </ul>
        </div>
        <div class="city bg-white" style="display: none;overflow-y: scroll;">
            <ul id="areaUl">
                <li>
                    <a href="javascript:;" onclick="this.ctrl.toSearchByCity(this,'')"><span>全城</span> <i class="kdl-right iconfont">&#xe653;</i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="Shop-list">
        <ul id="shopListUl">
        	<%var shopList = _datas.data.shopList%>
        	<%if(shopList != null && shopList.length > 0){%>
    			<%for(var i = 0;i < shopList.length;i++){%>
		            <li>
		                <a href="#shop/shops?shopId=<%=shopList[i].shopId %>">
		                    <div class="pic">
		                        <img src="<%=Config.imgPre+shopList[i].shopImage%>"/>
		                    </div>
		                    <div class="txt">
		                        <h6 class="color-gray6 ellips">
		                        	<%=shopList[i]._name%>
		                        </h6>
		                        <div class="starbg">
		                            <img src="<%=Config.imgPre + shopList[i].shopRankIcon%>"/>
		                        </div>
		                        <p class="color-gray9 clearfix m-top10">
		                        	<span class="kdl-left">
		                        		<%=shopList[i].industryName%>
		                        	</span>
		                        	<%if(_datas.data.local){%>
		                        		<span class="kdl-right color-red h5">
			                        		<%=shopList[i]._district%>
			                        	</span>
		                        	<%}else{%>
		                        		<span class="kdl-right color-red h5">
			                        		<%=shopList[i]._distance%>m
			                        	</span>
		                        	<%}%>
		                        	
		                        </p>
		                    </div>
		                </a>
		            </li>
	            <%}%>
            <%}%>
        </ul>
    </div>
    <%=REND("include/empty",{icon:"&#xe660;",tip:"sorry,没有搜到您要找的店铺哦~",price:"2",display: ((shopList == null || shopList.length < 1)?"block":"none")})%>
</div>













